body {
    background-color: bisque;
}

h1 {
    text-align: center;
    background-color: indianred;
}

.smoothie {
    width: 600px;
    height: auto;
}

.spam {
    width: 700px;
    height: auto;
}

.link {
    font-size: 20px;
}

.link.smoothie-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link.spam-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li {
    color: brown;
}

ol li {
    color: blueviolet;
}